<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tstBt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>247C4DF11C02058D00F55D2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>247C4E051C02058E00F55D2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>247C4E101C02058E00F55D2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
